:root {
    --main-titles-color: #d90a59;
    --main-dark-background-color: #285873;
    --main-light-background-color: #c9d3d9;
    --main-white-color: rgb(234, 234, 234);
    --main-black-color: rgb(22, 22, 22);
  }

@font-face {
    font-family: 'dm_serif_displayregular';
    src: url('../fonts/dmserifdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/dmserifdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'manropeextralight';
    src: url('../fonts/manrope-variablefont_wght-webfont.woff2') format('woff2'),
    url('../fonts/manrope-variablefont_wght-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}

nav{
    border-top: 2px solid var(--main-light-background-color);
}

.nav-menu{
    color: var(--main-titles-color);
    font-family: 'dm_serif_displayregular';
    text-decoration: none;
    font-size: 20px;
}

.nav-menu:hover{
    background-color: var(--main-light-background-color);
    color: var(--main-dark-background-color);
}

h2{
    color: var(--main-titles-color);
    font-family: 'dm_serif_displayregular';
    font-size: 20px;
}

#hero{
    background-image: url(/imgs/hero.png);
    min-height: 70vh;
    background-size:cover;
    color: var(--main-white-color);
    text-shadow: 0 10px 25px black;
    font-family: manropeextralight;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

h1{
    font-family:dm_serif_displayregular;
}

@media screen and (min-width: 768px) {

    nav {
        border-top: 0;
    }
}

article a.btn{
    background-color: var(--main-titles-color);
    font-family: 'manropeextralight';
    color: white;
}

article h3{
    font-family:dm_serif_displayregular;
}

article p{
    font-family: 'manropeextralight';
}

#news > div{
    min-height: 70vh;
}

.side1 {
    background: url(/imgs/side1.png) no-repeat center center;
}

.side2 {
    background: url(/imgs/side2.png) no-repeat center center;
}

.side1, .side2{
    background-size: cover;
    min-height: 20rem;
}

.color-background{
    background-color: var(--main-light-background-color);
}

footer{
    background-color: var(--main-dark-background-color);
    color: var(--main-white-color);
}

.table {
    font-family:'manropeextralight';
    --bs-table-bg: transparent;
}

.table-dark {
    --bs-table-border-color: var(--neutral);
}

label, input {
    display: block;
    font-family: 'manropeextralight';
    width: 100%;
}

label:not(:first-child){
    margin-top: 1.5rem;
}

input{
    background-color: transparent;
    border: 1px solid var(--main-white-color);
    padding: .25rem;
    color: white;

}

input[type="checkbox"]+label, input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-top: 1.5rem;
    vertical-align: middle;
}

input[type="submit"]{
    background-color: var(--main-titles-color);
    font-family: 'manropeextralight';
    color: white;
    width: auto;
    display: block;
    margin: 25px 0px; 
}

.btn:hover{
    background-color: var(--main-light-background-color);
    color: var(--main-dark-background-color);  
}
